<div class="row justify-content-center mt-5">
    <div class="col-xl-8 col-12 footer ">
       
        <hr class="mainHr">
        <div class="row">
            <div class="col-4">
                <p class="footerParagraph">Made with
                    <span>
                        <i id="iconFooter" class="fas fa-heart"></i>
                    </span> by
                    <span>Christos Tzoustas</span>
                </p>
            </div>
            <div class="col-4 text-center">
                <img class="mt-n2" src="/images/logo-footer.png">
            </div>
            <div class="col-4 text-right">
                <p class="footerParagraph">&copy; C. Tzoustas</p>
            </div>
        </div>

    </div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/scripts/main.js" type="text/javascript"></script>

</body>

</html>