<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses Tracker App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/overview.css">

</head>

<body>

    <div class="container-fluid text-light">

        <div class="row justify-content-center mb-xl-5 mb-4">
            <div class="col-xl-8 ">

                <nav class="navbar navbar-expand-lg navbar-custom navbar-dark ">
                    <a class="navbar-brand p-0" href="#">
                        <img src="/images/logo-green.png" class="img-fluid pt-1" id="logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav list-inline  ">
                            <li class="nav-item active list-inline-item">
                                <a class="nav-link pl-0" href="#"> 
                                    <i id="homeIcon" class="fas fa-home pl-lg-0 pt-lg-1"></i>
                                    <span class="sr-only">(current)</span> 
                                </a>
                            </li>

                        </ul>
                        <ul id="rightNavUl" class=" navbar-nav ml-lg-auto align-items-lg-center text-light list-inline   ">
                            <li class="nav-item text-lg-center list-inline-item">
                                <span class="d-block ">Welcome
                                    <span id="currentUser">
                                        <%= currentUser.username %>
                                    </span> !</span>
                                <span class="d-block">
                                    <span id="lastLogin">Last Login:</span>
                                    <%= moment(currentUser.lastLogin).format("ddd, hA") %>
                                </span>
                            </li>
                            <li class="nav-item pl-lg-3 pl-0 list-inline-item">

                                <a class="nav-link" href="{{ url('/login') }}">
                                    <i id="userIcon" class="far fa-user"></i>
                                </a>
                            </li>
                            <li class="nav-item pl-0 pb-lg-1 pl-lg-3 list-inline-item">
                                <a class="nav-link" href="/logout">
                                    <i id="logoutIcon" class="fas fa-power-off pt-lg-1"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <hr>
                
                <div id="flash" class="container">
                    <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <a href="#" class="alert-link">
                                <%= error %>
                            </a>
                        </div>
                        <% } %>
                            <% if (success && success.length > 0) { %>
                                <div class="alert alert-success" role="alert">
                                    <a href="#" class="alert-link">
                                        <%= success %>
                                    </a>
                                </div>
                                <% } %>
                </div>
            </div>
        </div>