body, html {
	height:100%;
	background-color: #f0f0f0;
	/* font-family: 'Open Sans', sans-serif; */
}
body {
    background-image: url('/images/background-3.svg');
    background-repeat: no-repeat;
    background-size: cover;
	
}

#username:focus {
    outline: none;
}



.fa.fa-user,
.fa.fa-lock {
    position: absolute;
    pointer-events: none;
    left: 0px;
    padding-left: 12px;
    padding-top: 23px;
    transition: 0.3s;
}

div.jumbotron {
    background-color: #364f6b;
    box-shadow: 2px 2px 35px 10px rgba(0, 0, 0, 0.4);
    /* 0px 10px 10px rgba(0, 0, 0, 0.1),
                  0px 15px 15px rgba(0, 0, 0, 0.1); */
}

div#logo {
    position: absolute;
    left: 30px;
    top: 30px;
}

img#logo {
    width: 120px;
}







div.welcomeDiv {
    background-color: #2f4662;
    padding: 25px;
    padding-bottom: 40px;
    border-radius: 25px;
}

@media screen and (max-width: 576px) {
    div#logo {
        left: 10px;
        top: 10px;
    }
}