body,
html {
    background-color: #364f6b;
}

/* FLASH MESSAGES */
div.alert-danger {
    background-color: #fc5185;
    border: none;
}

div.alert-success {
    background-color: #43dde6;
    border: none;
}

/* NAVBAR */
.navbar-custom {
    background-color: #364f6b;
}

img#logo {
    width: 100px;
}

#logoDiv {
    position: absolute;
    left: -10px;
    top: -13px;
}

#logoutIcon,
#userIcon,
#homeIcon {
    font-size: 30px;
}

span#currentUser {
    color: #fc5185;
}

span#lastLogin {
    color: #fc5185;
}

hr.mainHr {
    border-radius: 25px;
    height: 5px;
    background-image: linear-gradient(to right, #8695a6, #8695a6 60%, #9aa7b5);
}

/* FOOTER */
.footerParagraph {
    font-size: 0.8rem;
}

#iconFooter {
    color: #fc5185;
}

div.footer img {
    width: 60px;
    padding-top: 0;
}

/* MAIN SIDEBAR */

#iconDesktop,
#iconHistory,
#iconEuro {
    width: 32px;
    height: 32px;
    color: #43dde6;
    transition: 0.3s;
}

span.iconLabel {
    color: #43dde6;
    transition: 0.3s;
}

a.iconLink:hover {
    text-decoration: none;
}

div.selectedDiv span.iconContainer {
    background-color: #43dde6;
}

div.selectedDiv span.iconLabel {
    color: #50e0e7;
}

div.selectedDiv #iconDesktop,
div.selectedDiv #iconHistory,
div.selectedDiv #iconEuro {
    color: #4a698c;
}

span.iconContainer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #4a698c;
    transition: 0.3s;
}

/* MAIN DIVS STYLING */
.amountDiv,
div.editDiv,
div.detailsDiv {
    background-color: #324861;
    border-radius: 15px;
    padding: 20px;
}

div.overviewDiv {
    background-color: #324861;
    border-radius: 75px 15px 15px 15px;
}

.amountDiv h4,
.detailsDiv h4,
.overviewDiv h4,
.editDiv h4 {
    color: #43dde6;
}

.overviewDiv h4 {
    padding-top: 20px;
    padding-left: 40px;
}

#amountDisplay {
    color: #fc5185;
    font-size: 2.5rem;
    display: inline-block;
}

.amountDiv span:nth-child(2) {
    color: #fc5185;
    font-size: 1.5rem;
}

#overviewIcon {
    color: #fc5185;
    font-size: 3rem;
}

#overviewSpan {
    padding-left: 20px;
    padding-top: 8px;
}

.detailsDiv a {
    color: #fc5185;
    transition: 0.3s;
}

.detailsDiv a:hover {
    color: #43dde6;
    cursor: pointer;
}
.detailsDiv a:visited,
.detailsDiv a:hover {
    text-decoration: none;
}

/* LOGIN AND ADD EXPENSES DIV */
.inner-addon {
    position: relative;
}

div.login {
    border-bottom: 2px solid white;
    transition: 0.3s;
}

div.login.selectedInput {
    border-bottom: 2px solid #43dde6;
    color: #43dde6;
}

button.btn {
    background-color: #fc5185;
    color: white;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, #fc5185, #fc6a97, #fc5185);
    background-size: 200%;
    transition: 0.5s;
    font-size: 1.2rem;
    text-transform: uppercase;
}

button.btnExpenses {
    width: 50%;
    margin-top: 80px;
}

button.btn:hover {
    background-position: right;
    color: white;
}

input#username,
input#password,
input#description,
input#amount {
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    background: none;

    font-size: 1.2rem;
}

input#username:-webkit-autofill,
input#password:-webkit-autofill,
input#description:-webkit-autofill,
input#amount:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

div.addExpensesDiv {
    width: 50%;

    border-radius: 15px;
    padding: 20px;
    margin: 40px;
}

#amountIcon,
#descIcon {
    position: absolute;
    pointer-events: none;
    left: 12px;
    bottom: 21px;

    transition: 0.3s;
}

.addExpensesDiv label {
    color: #43dde6;
}

/* SELECT INPUT*/

.selectWrapper {
    position: absolute;
    z-index: 1;
}

.selectDiv {
    position: relative;
}

#custom-select {
    font-size: 16px;
    color: white;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    display: block;

    margin: 0;
    border: 1px solid white;

    border-radius: 0.5em;
    background-color: #324861;
    width: 100%;
}

#custom-select.selected {
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: none;
    border: 1px solid #43dde6;
}

#selectIcon {
    position: absolute;
    right: 10px;
    top: 62px;
}

#selectIcon.selected {
    color: #43dde6;
}

#custom-select:focus {
    box-shadow: 0 0 0 1px #4a698c;
    color: white;
    outline: none;
}

.custom-select-options {
    display: none;
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
    border-radius: 0 0 0.5em 0.5em;
    border: 1px solid white;
    border-top: none;
    margin-top: -20px;

    background-color: #324861;
}

.custom-select-options.selected {
    border: 1px solid #43dde6;
    border-top: none;
}

.custom-select-options li {
    padding: 10px 15px;
}

.custom-select-options li.selected {
    background-color: #43dde6;
    color: #364f6b;
    cursor: pointer;
}

.custom-select-options li.selected:last-child {
    background-color: #43dde6;
    color: #364f6b;
    border-radius: 0 0 0.5em 0.5em;
}

.custom-select-options.hidden-all {
    display: none;
}

/* EDIT DIV STYLING */

div.editFirstRow {
    background-color: #364f6b;
    border-radius: 25px;
}

div.well {
    padding: 20px;
}

hr.editHr {
    background-color: #32465c;
}

button.btnDelete {
    background-color: #fc5185;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    color: white;
    outline: none;
    border: none;
}

a.btnEdit {
    background-color: #43dde6;
    border-radius: 5px;
    padding: 5px 10px;

    margin: 0;
    color: #364f6b;
    outline: none;
    border: none;
}

a.btnEdit:hover {
    text-decoration: none;
}

div.editToggler.hidden-all {
    display: none;
}

/* INPUTS AUTOFILL FOR CHROME*/
@-webkit-keyframes autofill {
    0%,
    100% {
        color: #666;
        background: transparent;
    }
}

/* CHANGING ORDER OF NAV BAR ELEMENTS */
@media screen and (max-width: 992px) {
    ul#rightNavUl li:first-child {
        order: 3;
    }
    ul#rightNavUl li:nth-child(2) {
        order: 1;
    }

    ul#rightNavUl li:nth-child(3) {
        order: 2;
    }
}

@media screen and (max-width: 768px) {
    button.btnExpenses {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    #homeIcon,
    #userIcon,
    #logoutIcon {
        font-size: 25px;
    }
}

@media screen and (max-width: 1330px) and (min-width: 1200px) {
    span#amountDisplay {
        font-size: 2.1rem;
    }
}