#iconDesktop, #iconHistory, #iconEuro {
    width: 32px;
    height: 32px;
    color: #43dde6;
    transition: 0.3s;
}

span.iconLabel {
    color: #43dde6;
    transition: 0.3s;
}

a.iconLink:hover {
    text-decoration: none;
}

div.selectedDiv span.iconContainer {
    background-color: #43dde6;
}

div.selectedDiv span.iconLabel {
    color: #50e0e7
}

div.selectedDiv #iconDesktop, div.selectedDiv #iconHistory, div.selectedDiv #iconEuro {
    color: #4a698c;
}

span.iconContainer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #4a698c;
    transition: 0.3s;
}


.amountDiv, .detailsDiv {
    background-color: #324861;
    border-radius: 15px;
    padding: 20px;
}

.amountDiv h4, .detailsDiv h4, .overviewDiv {
    color: #43dde6;
}

.overviewDiv h4 {
    padding-top: 20px;
    padding-left: 40px;
}
.amountDiv span:first-child {
    color: #fc5185;
    font-size: 2.5rem;
}

.amountDiv span:nth-child(2) {
    color: #fc5185;
    font-size: 1.5rem;
}

.detailsDiv ul {
    list-style: none;
    padding: 0;
    line-height: 2.2em;
    color: #fc5185;
}

hr {
    border-radius: 25px;
    height: 5px;
    background-image: linear-gradient(to right, #8695a6, #8695a6 60%, #9aa7b5);
}

#overviewIcon {
     color: #fc5185;
     font-size: 3.0rem;
}

#overviewSpan {
    padding-left: 20px;
    padding-top: 8px;
}

.detailsDiv a {
    color: #fc5185;
    transition:0.3s;
} 

.detailsDiv a:hover {
    color: #43dde6;
	cursor: pointer;
}
.detailsDiv a:visited, .detailsDiv a:hover {
    text-decoration: none;
}



div.overviewDiv {
	background-color: #324861; 
	border-radius: 75px 15px 15px 15px ;
}